services:
  influxdb:
    image: influxdb:2
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=adminadminadmin
      - DOCKER_INFLUXDB_INIT_ORG=bigdata
      - DOCKER_INFLUXDB_INIT_BUCKET=bigdata_bucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=bigdata-dev-token
volumes:
  influxdb_data:
